<h1>Benutzer</h1>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td>
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Delete', user, data: {"turbo-method": :delete}%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
