<link rel="stylesheet" href="application.css">

<% if user_signed_in? %>
  <p style="color: green"><%= notice %></p>



  <header>
    <div class="text_font">
      <%= link_to 'Zurück', groups_path, class: 'back-button' %>
      <h1 class="title">Einkaufsliste für <%= @group.name %></h1>
    </div>
  </header>

  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>

  <%= link_to "Produkt Hinzufügen", new_group_product_path(@group), class: "new-product-button" %>  <!-- Link zum Erstellen eines neuen Produkts innerhalb der Gruppe -->

<% else %>
  <p>Bitte melde dich an, um die Produkte zu sehen.</p>
<% end %>
